@{
    Layout = "~/Views/Shared/_layoutWeb.cshtml";
    ViewBag.Title = "公共卫生";
}

	<!----start-content----->
<div class="content">
    <div class="wrap">
        <div class="services1">
            <h4>公共卫生服务</h4>
            <div class="content-top-grids services-grids">

              @{
                  Html.RenderAction("MokuaiView", "Web", new { id=7});
                  Html.RenderAction("MokuaiView", "Web", new { id = 9 });
                  Html.RenderAction("MokuaiView", "Web", new { id = 10 });
                  Html.RenderAction("MokuaiView", "Web", new { id = 11 });
                  Html.RenderAction("MokuaiView", "Web", new { id = 12 });
                  Html.RenderAction("MokuaiView", "Web", new { id = 13 });
                  Html.RenderAction("MokuaiView", "Web", new { id = 14 });
                  

                  
                  }



                <div class="clear"> </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
    <!----End-content----->
</div>
<!---End-wrap---->