@{
    Layout = "~/Views/Shared/_layoutWeb.cshtml";
    ViewBag.Title = "关于我们";
}

	<!----start-content----->
<div class="content">
    <div class="wrap">
        <div class="about">
            <div class="about-topgrid1">
                <h3>曲线社区卫生服务中心</h3>
                <img src="/images/slider2.jpg" title="name">
                <h4>黑龙江省中医药科学院（省祖研）领办</h4>
                <p>南岗区曲线社区卫生服务中心是省、市、铁路职工医疗保险定点医院，拥有全科、中医、针灸、推拿、康复、口腔等门诊科室8个，B超、心电、放射线、检验等医技科室6个。在2013年成立了自闭症康复训练中心.
</p>
                <p>南岗区曲线社区卫生服务中心依托黑龙江省中医药科学院的人才储备和技术优势，大力推进国家中医药进社区的指示精神，组建了包括省中医药科学院的多名中医药专家在内的医疗队伍，主要以中医、中西医结合方法治疗肾病、心脑血管病和皮肤病等常见病、多发病，形成了以中医治疗为主，融预防、医疗、保健、康复、健康教育、计划生育技术服务为一体的，有效、经济、方便、综合的基层卫生服务机构。
</p>
                <p><a href="/Web/Mokuai/19">查看更多</a></p>
                
            </div>
            <div class="about-histore">
                <h3>发展历史</h3>
                <div class="historey-lines">
                    <ul>
                        <li><span>2010 &nbsp;-</span></li>
                        <li><p>曲线社区卫生服务中心被评为国家先进组织</p></li>                       
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="historey-lines">
                    <ul>
                        <li><span>2010 &nbsp;-</span></li>
                        <li><p>曲线社区卫生服务中心省市铁路医保全面上线</p></li>                       
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="historey-lines">
                    <ul>
                        <li><span>2010 &nbsp;-</span></li>
                        <li><p>曲线社区卫生服务中心哈南基地成立</p></li>                        
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="historey-lines">
                    <ul>
                        <li><span>2010 &nbsp;-</span></li>
                        <li><p>曲线社区卫生服务中心自闭症中心成立</p></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="historey-lines">
                    <ul>
                        <li><span>2010 &nbsp;-</span></li>
                        <li><p>曲线社区卫生服务中心成立</p></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="about-services">
                <h3>医疗能力</h3>
                <h4>以黑龙江省中医药科学院为依托，具有强大的技术优势和人才优势.</h4>
                <p>该中心位于南岗区铁路街497号，建筑面积1890平方米，资产总额1500万，现有职工39人，其中副高职以上人员8人，专业技术人员30人。</p>
                <ul>
                    <li><a href="/Web/Mokuai/15">全科基础医疗</a></li>
                    <li><a href="/Web/Mokuai/16">中医针灸科</a></li>
                    <li><a href="/Web/Mokuai/17">口腔科</a></li>
                    <li><a href="/Web/Mokuai/18">康复推拿科</a></li>
                    <div class="clear"> </div>
                </ul>
            </div>
            <div class="clear"> </div>
            <div class="ourteam">
                <h3>服务社区</h3>
                <div class="section group">
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="/images/d1.jpg">
                        <h3>农行社区 </h3>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="/images/d2.jpg">
                        <h3>铁瓦社区</h3>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="/images/d3.jpg">
                        <h3>贵新社区 </h3>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="/images/d4.jpg">
                        <h3>春明社区 </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
    <!----End-content----->
</div>
<!---End-wrap---->