@{
    Layout = null;
}
<div class="services-sidebar">
   
          
          
    
    <h3>公共卫生服务</h3>
    <ul>
        <li><a href="/Web/Mokuai/7">居民健康档案管理</a></li>
        <li><a href="/Web/Mokuai/9">居民健康教育</a></li>
        <li><a href="/Web/Mokuai/10">0~6岁儿童健康管理</a></li>
        <li><a href="/Web/Mokuai/11">孕产妇健康管理</a></li>
        <li><a href="/Web/Mokuai/12">老年人健康管理</a></li>
        <li><a href="/Web/Mokuai/13">高血压患者健康管理</a></li>
        <li><a href="/Web/Mokuai/14">2型糖尿病健康管理</a></li>

    </ul>
    <h3>医疗服务</h3>
    <ul>
        <li><a href="/Web/Mokuai/15">全科基础医疗</a></li>
        <li><a href="/Web/Mokuai/16">中医针灸科</a></li>
        <li><a href="/Web/Mokuai/17">口腔科</a></li>
        <li><a href="/Web/Mokuai/18">康复推拿科</a></li>
    </ul>

    
</div>