@{
    Layout = "~/Views/Shared/_layoutWeb.cshtml";
    ViewBag.Title = "联系我们";
}

	<!----start-content----->
<div class="content">
    <div class="wrap">
        <!---start-contact---->
        <div class="contact">
            <div class="section group">
                <div class="col span_1_of_3">
                    
                    <div class="company_address">
                        <h3>联系我们</h3>
                        <p>地址：南岗区铁路街497号</p>
                        <p>邮编：150000</p>
                        
                        <p>电话：(0451) 222 666 444</p>
                        <p>微信：曲线社区卫生服务中心</p>
                        <p>微博：曲线社区卫生服务中心</p>
                        <p>Email：<span>qxsqwsfwzx@163.com</span></p>
                    </div>
                </div>
                <div class="col span_2_of_3">
                    <div class="contact-form">
                        <h3>扫描下方二维码立即关注曲线社区卫生服务中心微信</h3>
                        <img src="/images/erweima.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <!---End-contact---->
        <div class="clear"> </div>
    </div>
    <!----End-content----->
</div>
<!---End-wrap---->