@{
    Layout = null;
}
<div class="content-top-grid services-grid1">
    <div class="content-top-grid-header">
        <div class="content-top-grid-pic">
            <a href="#"><img src="@ViewData.Model.MokuaiImg" title="image-name"></a>
        </div>
        <div class="content-top-grid-title">
            <h3>@ViewData.Model.MokuaiTitle</h3>
        </div>
        <div class="clear"> </div>
    </div>
    <p>@ViewData.Model.MokuaiInfo</p>
    <a class="grid-button" href="/Web/Mokuai/@ViewData.Model.MokuaiId">查看详情</a>
    <div class="clear"> </div>
</div>
