@{
    Layout = "~/Views/Shared/_layoutWeb.cshtml";
    ViewBag.Title = "新闻公告";
}
	<!----start-content----->
<div class="content">
    <div class="wrap">
        <div class="services1">
            <div class="service-content">
                <div style="text-align:center"><h3>@ViewData.Model.MokuaiTitle</h3></div>
                <div style="line-height:25px;color:#808080">
               
                        @Html.Raw(ViewData.Model.MokuaiContent)
                     
                        </div>
                <div>
                    <div style="text-align: left; margin-top: 20px; padding-bottom: 20px;">

                        <!-- JiaThis Button BEGIN -->
                        <div class="jiathis_style_24x24">
                            <a class="jiathis_button_qzone"></a>
                            <a class="jiathis_button_tsina"></a>
                            <a class="jiathis_button_tqq"></a>
                            <a class="jiathis_button_weixin"></a>
                            <a class="jiathis_button_renren"></a>
                            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                            <a class="jiathis_counter_style"></a>
                        </div>
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                        <!-- JiaThis Button END -->
                    </div>
                    
                        
                    </div>
                    <div class="clear"> </div>
                
               
            </div>
            
            @{Html.RenderAction("LeftMenuView", "Web");}
            <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
    </div>
    <!----End-content----->
</div>
<!---End-wrap---->