@{
    Layout = "~/Views/Shared/_layoutWeb.cshtml";
    ViewBag.Title = "新闻公告";
}
	<!----start-content----->
<div class="content">
    <div class="wrap">
        <div class="services1">
            <div class="service-content">
                <div style="text-align:center"><h3>曲线社区卫生服务中心介绍</h3></div>
                <div style="line-height:25px;color:#808080">


                    中国向英法等国通过外交渠道追索文物的努力近期接连取得收效。据英国《每日电讯报》7月6日报道，法国已低调向中国归还4件遭劫掠的纯金文物。近期，中国已加强了追索非法流失文物的力度。

                    此次归还的4件猛禽金首价值100万欧元(约合人民币685万元)。据称，此次归还行动成为了法国的一次“外交噩梦”，因为在理论上，已被捐赠给法国博物馆的物品是不可撤回的。

                    报道称，拥有古琦、圣罗兰等一系列品牌的法国著名奢侈品大亨皮诺特于2000年向巴黎吉美博物馆捐赠了这些公元前7世纪的作品，作为对时任总统希拉克展示友好的姿态。

                    然而，随后消息曝出，这些文物是1992年中国甘肃省周朝贵族墓葬遭盗挖时流失的文物。中国方面表示，这是90年代中期盗墓潮导致的大批流失文物的一部分。

                    据报道，中国政府大约10年前通过一名法国专家对这些盗墓所得文物发出追索申诉，但未能获得相应，但仍继续通过外交渠道开展追索努力。

                    最终，根据法国《艺术报》的消息，皮诺特于今年4月将4件猛禽金首移交给位于巴黎的中国驻法大使馆，并没有索要任何补偿。与此同时，从同一倒卖者手中购得另外28件文物的法国收藏家克里斯蒂安·戴迪耶于5月15日交还了这些文物，时间正好与法国外长法比尤斯访华的时间吻合。

                    此次归还决定令法国面临头疼的外交难题，因为在理论上已赠予博物馆的礼物是无法撤回的。最终，法国文化部“回溯撤销”了对博物馆的赠予行为，将这些文物返还给捐赠者，并按照中国的要求，由捐赠者将这些文物归还中国。

                    当下，中国正大力开展非法流失文物的追索工作，一方面公开敦促海外拍卖公司取消售卖争议物品，或通过国有企业赎买。特别是对于第二次鸦片战争末期，英法联军进入北京后通过对圆明园等地实施大规模劫掠所得的文物，更是中国文物追索的重点。
                </div>
                <div>
                    <div style="text-align:left;margin-top:20px;">

                        <!-- JiaThis Button BEGIN -->
                        <div class="jiathis_style_24x24">
                            <a class="jiathis_button_qzone"></a>
                            <a class="jiathis_button_tsina"></a>
                            <a class="jiathis_button_tqq"></a>
                            <a class="jiathis_button_weixin"></a>
                            <a class="jiathis_button_renren"></a>
                            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                            <a class="jiathis_counter_style"></a>
                        </div>
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                        <!-- JiaThis Button END -->
                    </div>
                   
                </div>
                    <div class="clear"> </div>
                
               
            </div>
            @{Html.RenderAction("LeftMenuView", "Web");}
            <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
    </div>
    <!----End-content----->
</div>
<!---End-wrap---->