@{
    Layout = "~/Views/Shared/_layoutWeb.cshtml";
    ViewBag.Title = "医疗服务";
}

	<!----start-content----->
<div class="content">
    <div class="wrap">
        <div class="services1">
            <h4>医疗服务</h4>
            <div class="content-top-grids services-grids">
               
                @{
                    Html.RenderAction("MokuaiView", "Web", new { id = 15 });
                    Html.RenderAction("MokuaiView", "Web", new { id = 16 });
                    Html.RenderAction("MokuaiView", "Web", new { id = 17 });
                    Html.RenderAction("MokuaiView", "Web", new { id = 18 });




                }


                <div class="clear"> </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
    <!----End-content----->
</div>
<!---End-wrap---->