@{
    Layout = "~/Views/Shared/_layoutWeb.cshtml";
    ViewBag.Title = "医疗服务";
}

	<!----start-content----->
<div class="content">
    <div class="wrap">
        <div class="services1">
            <h4>医疗服务</h4>
            <div class="content-top-grids services-grids">
                <div class="content-top-grid services-grid1">
                    <div class="content-top-grid-header">
                        <div class="content-top-grid-pic">
                            <a href="#"><img src="/images/timer.png" title="image-name"></a>
                        </div>
                        <div class="content-top-grid-title">
                            <h3>口腔科</h3>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <a class="grid-button" href="#">Read More</a>
                    <div class="clear"> </div>
                </div>
                <div class="content-top-grid services-grid1">
                    <div class="content-top-grid-header">
                        <div class="content-top-grid-pic">
                            <a href="#"><img src="/images/tool.png" title="image-name"></a>
                        </div>
                        <div class="content-top-grid-title">
                            <h3>小儿推拿</h3>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <a class="grid-button" href="#">Read More</a>
                    <div class="clear"> </div>
                </div>
                <div class="content-top-grid services-grid1">
                    <div class="content-top-grid-header">
                        <div class="content-top-grid-pic">
                            <a href="#"><img src="/images/inject.png" title="image-name"></a>
                        </div>
                        <div class="content-top-grid-title">
                            <h3>针灸疗法</h3>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <a class="grid-button" href="#">Read More</a>
                    <div class="clear"> </div>
                </div>
                <div class="content-top-grid services-grid1">
                    <div class="content-top-grid-header">
                        <div class="content-top-grid-pic">
                            <a href="#"><img src="/images/timer.png" title="image-name"></a>
                        </div>
                        <div class="content-top-grid-title">
                            <h3>24x7 Servives</h3>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <a class="grid-button" href="#">Read More</a>
                    <div class="clear"> </div>
                </div>
                <div class="content-top-grid services-grid1">
                    <div class="content-top-grid-header">
                        <div class="content-top-grid-pic">
                            <a href="#"><img src="/images/tool.png" title="image-name"></a>
                        </div>
                        <div class="content-top-grid-title">
                            <h3>CARE ADVICES</h3>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <a class="grid-button" href="#">Read More</a>
                    <div class="clear"> </div>
                </div>
                <div class="content-top-grid services-grid1">
                    <div class="content-top-grid-header">
                        <div class="content-top-grid-pic">
                            <a href="#"><img src="/images/inject.png" title="image-name"></a>
                        </div>
                        <div class="content-top-grid-title">
                            <h3>EMERGENCY</h3>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <a class="grid-button" href="#">Read More</a>
                    <div class="clear"> </div>
                </div>
                <div class="content-top-grid services-grid1">
                    <div class="content-top-grid-header">
                        <div class="content-top-grid-pic">
                            <a href="#"><img src="/images/timer.png" title="image-name"></a>
                        </div>
                        <div class="content-top-grid-title">
                            <h3>24x7 Servives</h3>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <a class="grid-button" href="#">Read More</a>
                    <div class="clear"> </div>
                </div>
                <div class="content-top-grid services-grid1">
                    <div class="content-top-grid-header">
                        <div class="content-top-grid-pic">
                            <a href="#"><img src="/images/tool.png" title="image-name"></a>
                        </div>
                        <div class="content-top-grid-title">
                            <h3>CARE ADVICES</h3>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <a class="grid-button" href="#">Read More</a>
                    <div class="clear"> </div>
                </div>
                <div class="content-top-grid services-grid1">
                    <div class="content-top-grid-header">
                        <div class="content-top-grid-pic">
                            <a href="#"><img src="/images/inject.png" title="image-name"></a>
                        </div>
                        <div class="content-top-grid-title">
                            <h3>EMERGENCY</h3>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <a class="grid-button" href="#">Read More</a>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
    <!----End-content----->
</div>
<!---End-wrap---->