@{
    Layout = "~/Views/Shared/_layoutWeb.cshtml";
    ViewBag.Title = "自闭症中心";
}

	<!----start-content----->
<div class="content">
    <div class="wrap">
        <div class="about">
            <div class="about-topgrid1">
                <h3>自闭症训练中心介绍</h3>
                <img src="/images/slider2.jpg" title="name">
                <h4>曲线社区卫生服务中心自闭症康复训练中心</h4>
                <p>我中心自闭症项目康复训练面积共3300平方米，其中中心（南岗区铁路街497号）康复训练面积700平方米，6间独立教师和1间办公咨询室。拥有强大的师资力量，包括专家3人，国家级心理咨询师4人，专业特训教师12人。</p>
                <p><a href="/Web/Mokuai/20">查看更多</a></p>
            </div>
            <div class="about-histore">
                <h3>我们的历史</h3>
                <div class="historey-lines">
                    <ul>
                        <li><span>2010年7月 &nbsp;-</span></li>
                        <li><p>哈南基地成立，形成规模化运作，占地面筋进一步扩大。训练人数进一步增加。</p></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="historey-lines">
                    <ul>
                        <li><span>2010年9月 &nbsp;-</span></li>
                        <li><p>2014年我中心已被省残联列入黑龙江省扶残助残利民工程项目定点医疗机构，将自闭症训练纳入医保。</p></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                
                <div class="historey-lines">
                    <ul>
                        <li><span>2014年7月 &nbsp;-</span></li>
                        <li><p>自闭症中心尝试按摩推拿技术，将中医的适宜技术推广到自闭症的康复训练中</p></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="historey-lines">
                    <ul>
                        <li><span>2014年4月 &nbsp;-</span></li>
                        <li><p>自闭症中心成立,第七个“世界自闭症日”提出了自闭症医教研相结合的战略思路，并启动此项目，暨三甲医院牵头、社区是承办主体、特殊教育为辅的诊断筛查训练康复一体化的新模式。</p></li>
                        <div class="clear"> </div>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="about-services">
                <h3>康复训练项目</h3>
                <h4>独特的医教研结合康复项目</h4>
                <p>自闭症中心成立,第七个“世界自闭症日”提出了自闭症医教研相结合的战略思路，并启动此项目，暨三甲医院牵头、社区是承办主体、特殊教育为辅的诊断筛查训练康复一体化的新模式。</p>
                <ul>
                    <li><a href="#">感统训练</a></li>
                    <li><a href="#">语言训练</a></li>
                    <li><a href="#">奥尔夫音乐训练</a></li>
                    <li><a href="#">闪卡训练</a></li>
                    <li><a href="#">行为训练</a></li>
                    <div class="clear"> </div>
                </ul>
            </div>
            <div class="clear"> </div>
            <div class="ourteam">
                <h3>我们的团队</h3>
                <div class="section group">
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="/images/d1.jpg">
                        <h3>项目负责人：贺苏 </h3>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="/images/d2.jpg">
                        <h3>医师：艾岩岩</h3>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="/images/d3.jpg">
                        <h3>康复训练师：车德才</h3>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <img src="/images/d4.jpg">
                        <h3>研究员：贺苏 </h3>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
    <!----End-content----->
</div>
<!---End-wrap---->