 <!---start-footer---->
<div class="footer">
    <div class="wrap">
        <div class="footer-grids">
            <div class="footer-grid">
                <h3>服务社区</h3>
                <ul>
                    <li><a href="/Web/Guanyuwomen">贵新社区</a></li>
                    <li><a href="/Web/Guanyuwomen">农行社区</a></li>
                    <li><a href="/Web/Guanyuwomen">铁瓦社区</a></li>
                    <li><a href="/Web/Guanyuwomen">春明社区</a></li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>我们的服务</h3>
                <ul>
                    <li><a href="/Web/Gonggongweisheng">公共卫生服务</a></li>
                    <li><a href="/Web/Yiliaofuwu">基础医疗服务</a></li>
                    <li><a href="/Web/Zibizheng">自闭症康复训练服务</a></li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>便民服务</h3>
                <ul>
                    <li><a href="/Web/Mokuai/10">小儿计划免疫</a></li>
                    <li><a href="/Web/Mokuai/11">孕妇保健</a></li>
                    <li><a href="/Web/Mokuai/12">老年人体检</a></li>
                    <li><a href="/Web/Mokuai/13">慢病健康管理</a></li>

                </ul>
            </div>
            <div class="footer-grid">
                <h3>联系我们</h3>
                <p>曲线社区卫生服务中心 ,</p>
                <p>微信：曲线社区卫生服务中心</p>
                <p>地址：南岗区铁路街149号</p>
                <span>(0451)8758 8596</span>
            </div>
            <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
        <!---start-copy-right----->
        <div class="copy-tight">
            <p>版权所有 <a href="#">曲线社区卫生中心</a></p>
        </div>
        <!---End-copy-right----->
    </div>
</div>
<!---End-footer---->
